.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/.quarto/
/docs
/_site
/*_files/
/site_libs
*.html
_freeze/
data/ASGS_2021_MAIN_STRUCTURE_GPKG_GDA2020.zip
data/ASGS_2021_MAIN_STRUCTURE_GPKG_GDA2020/ASGS_2021_Main_Structure_GDA2020.gpkg
